{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped" style="text-align: left;">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
                {% if portfolio_list != [] %}
                <th>ACTION</th>
                {% endif %}
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total_portfolio }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for holding in portfolio_list %}
            <tr>
                {% for item in holding.values() %}
                <td>{{ item }}</td>
                {% endfor %}
                <td>
                    <form action="/sell" method="POST">
                        <input type = "hidden" name = "symbol" value = "{{holding['symbol']}}" />
                        <input type = "hidden" name = "quantity" value = "{{holding['shares']}}" />
                        <input type = "hidden" name = "name" value = "{{holding['name']}}" />
                        <button class="btn btn-primary" type="submit" style="text-align:center">Sell</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}