{% extends "layout.html" %}

{% block title %}
    Article London Tube
{% endblock %}

{% block main %}

    <table class="table table-striped" style="text-align: left;">
        <thead>

        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            <p>This is a list of all the articles I found interesting and favourited them on pocket. Apologies, it's pretty raw. 🙈</p>
            <p>
            {% for i in articles %}

                <a href={{articles[i]['url']}}>📝 {{articles[i]['title']}}</a><br>

            {% endfor %}
            </p>
        </tbody>
    </table>
{% endblock %}