{% extends "layout.html" %}

{% block title %}
    Article London Tube
{% endblock %}

{% block main %}

    <table class="table table-striped" style="text-align: left;">
        <thead>

        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            <p>These are some of the essays I've wrote in these past years. These are the ones I actually went ahead and published 😅</p>
            <p>
                <a href="/essays/london_tube">🚇 How could London’s Historical Tube teach you a thing or two about Growth</a><br>
                <a href="/essays/disagree_commit">🍳4 Key Ingredients for Disagree and Commit</a><br>
                <a href="/essays/culture_sapiens">🐒 Why is Culture equally important for Human Evolution and your Company?</a><br>
            </p>
        </tbody>
    </table>
{% endblock %}