{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped" style="text-align: left;">
        <thead>

        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            <h3>Hello World! It's me, Julio 👋 </h3>
            <p>
                I enjoy solving problems in an impactful and measurable way. Now and then I build or help build things.
                I worked at <a href="https://monzo.com/">Monzo</a> and <a href="https://uniplaces.com/">Uniplaces</a>
                leading multiple product teams. Now I'm on my own (for now 😊).
            </p>
            <p>
                This website is for fun purposes of discovering and testing new things.
            </p>
            <p>If you want to follow more closely:<br>
            <a href="https://twitter.com/jpl0pes">Twitter</a><br>
            <a href="https://github.com/jpl0pes">Github</a><br>
            <a href="https://www.linkedin.com/in/juliolopes/">Linkedin</a></p>


        </tbody>
    </table>
{% endblock %}